.DashboardNav {
  background-color: var(--bs-light);
  /* display: flex;
  justify-content: space-between; */
  height: 50px;
  width: 100%;
}
.DashboardNav .logo {
  /* border: solid; */
  width: 150px;
}
.DashboardNav .logo,
.DashboardNav ul {
  margin: auto 15px;
}
.DashboardNav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.DashboardNav ul li {
  padding: 0 10px;
  margin: auto 0;
}
.DashboardNav ul li .nav-link {
  padding: 0 0px;
}

.search-div .form-control:focus,
.search-div .btn:focus {
  outline: none;
  border-color: transparent !important;
  box-shadow: none !important;
}
