nav.navbar {
  background-color: var(--background-primary);
  color: red;
}
/* .navbar-toggler {
  position: relative;
  height: 30px;
  width: 20px;
  padding: 10px;
}
.navbar-toggler .navbar-toggler-icon {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  left: 2px;
}
.navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  left: 2px;
  top: -5px;
}
.navbar-toggler .navbar-toggler-icon::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  left: 2px;
  top: 5px;
} */
.DashboardNav {
  background-color: var(--background-primary);
  height: 50px;
  width: 100%;
}
.DashboardNav .logo {
  width: 150px;
}
.DashboardNav .logo,
.DashboardNav ul {
  margin: auto 15px;
}
.DashboardNav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.DashboardNav ul li {
  padding: 0 10px;
  margin: auto 0;
}
.DashboardNav ul li .nav-link {
  padding: 0 0px;
}

.search-div .form-control:focus,
.search-div .btn:focus {
  outline: none;
  border-color: transparent !important;
  box-shadow: none !important;
}
