:root {
  --background: white;
  --background-primary: rgba(221, 221, 221, 0.5);
  --text-primary: #2b2b2b;
  /* --accent: purple; */
}
[data-theme="dark"] {
  --background: rgb(22, 22, 22);
  --background-primary: rgba(106, 106, 106, 0.5);
  --text-primary: rgb(235, 235, 235);
  --accent: darkred;
}
.row {
  --bs-gutter-x: 0;
}

[data-theme="dark"] .toggle-theme:hover::after {
  content: "Day";
}
