.HomePage {
  background-color: rgb(36, 36, 36);
  color: #ddd;
}

.HomePage .top-cards .card {
  height: 200px;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.HomePage .top-cards .card b {
  font-weight: 900;
  text-decoration: underline;
}
.HomePage .card {
  background-color: rgba(95, 95, 95, 0.5);
  color: #ddd;
}
