.HomePage {
  background-color: var(--background);
  color: var(--text-primary);
}

.HomePage .top-cards .card {
  height: 200px;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.HomePage .top-cards .card b {
  font-weight: 900;
  text-decoration: underline;
}
.HomePage .card {
  background-color: var(--background-primary);
  /* color: var(--text-primary); */
}
